body {
   background-color: #ffffff;
   padding: 0;
   margin: 0;
   text-align: center;
   font-family: 'Roboto' , arial; 
}

.main-container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 0px 20px 100px;
}

h3 {
    font-size: 24px;
}

.links {
  display: flex;
  margin-left: auto;
  padding: 0px, 100px, 0px, 0px;
  margin-right: 80px;  
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    color: #f9faf8;
    background-color: #1f2937;
}

.hero {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.hero p {
    opacity: 0.7;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    height: auto;
    border-radius: 5px;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.hero img {
    width: 500px;
    height: 350px;
}

