body {
   background-color: #ffffff;
   padding: 0;
   margin: 0;
   text-align: center;
   font-family: 'Courier New', Courier, monospace; 
}

.main-container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items:center;
    padding: 20px 0px 20px 100px;
}

.nav-bar h3 {
    font-size: 32px;
    margin-right: auto;
    margin-left: 200px;

}

.links {
  display: flex;
  margin-left: auto;
  margin-right: 200px;
  padding: 0px, 100px, 0px, 0px; 
  gap: 60px; 
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    color: #f9faf8;
    background-color: #1f2937;
}

.hero {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 90px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.hero p {
    opacity: 0.7;
}

.hero button {
    display: block;
    width: 110px;
    height: auto;
    border-radius: 5px;
    background-color: #ff1616;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-style: dashed;
    border-color: white;
    
}

img {
  border: 5px solid #f9faf8;
  height: 350px;
  width: 500px;
  margin:auto;
}



.container-two {
    align-items: center;
}

.container-two h3{
    font-size: 50px;
    color: #32d41c;
    font-family: 'Courier New', Courier, monospace;
}


.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;   
}

.content img {
    width: 300px;
    height: 225px;
    object-fit: cover;
    border: 4px groove #ffffff;
    border-radius: 15px;
    margin: 5px, 20px, 0px, 20px;
}

.content p {
    padding: 15px;
    font-size: 12px;
    color: #32d41c;
}

.container-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
}



.container-three p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    font-family: 'Roboto', arial;
}

.container-three h5 {
    text-align: right;
    font-family: 'Roboto', arial;
    font-weight: bolder;
    padding-right: 20px;
    padding-bottom: 20px;
}


.container-four {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    margin: 50px 200px;
    padding: 10px 80px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style:double;
    border-width: 8px;
}

.cta-text p {
    text-align: left;
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.cta-text h4 {
    color: #fff;
    padding: 0;
    margin: 30px 0px 0px 50px;
    text-align: left;
}

.cta-button button {
    color: #fff;
    background-color: #ff1515;
    font-size: 15px;
    border-radius: 5px;
    border-color: #fff;
    padding: 5px 20px;
    margin-left: 150px;
    border-style: dashed;
    
}

.footer {
    background-color:#1f2937;
    color: #fff;
    font-size: 12px;
    padding: 25px;
}